#about-section {
    justify-content: flex-start;
    align-items: center;
    font-family: 'Electrolize', sans-serif;
    color: #34bfff;
    min-height: 100vh;
}

/**---------------------------------------------------------------Content-----------------------------------------------------*/
#about-content-container {
    width: 580px;
    max-width: 48%;
    display: flex;
    flex-direction: column;
}

#about-content-container span {
    color: #34bfff;
}

#skills-svg {
    margin-top: 120px;
    width: 100%;
}

.about-box-line {
    fill: none;
    stroke: #00b7ff;
    stroke-width: 2;
}

.about-box-background {
    stroke-width: 0;
    fill: url('#about-background-gradient');
}

.about-text {
    font-weight: bold;
    font-size: 15px;
    fill: #34bfff
}

/**Main*/
#about-skills-container {
    padding: 10px 0;
    font-weight: bold;
    font-size: 16px;
}

/**Render Result*/
#about-skills-render-container :nth-child(even), #about-others-render-container :nth-child(odd){
    background: #2d88dd18;
}

.about-skill-container {
    height: 100%;
    box-sizing: border-box;
    padding: 4px 20px;
}

.about-skill-container span {
    width: 250px;
    background: transparent !important;
}

/**Bar*/
.about-skill-bar-container {
    width: 100%;
    height: 11px;
    background: #00b7ff33 !important;
    overflow: auto;
}

.about-skill-bar {
    height: 100%;
    background: linear-gradient(to right, #2d88dd, #34bfff) !important;
    width: 30%;
}

/**About Content*/
#about-svg-about image {
    height: 64px;
    width: 64px;
    image-rendering: pixelated;
}

.about-pixel-mask-rect {
    width: 64px;
    fill: white;
}

/**---------------------------------------------------------------Responsive-----------------------------------------------------*/
@media (max-aspect-ratio: 12/10) {
    #about-section {
        justify-content: center;
    }

    #about-content-container {
        max-width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #skills-svg{
        margin-top: 63vh;
    }
}
