footer {
    width: 100%;
    height: 170px;
    background: #0B3568;
    color: white;
    z-index: 1;
    position: relative;
    justify-content: center;
}

footer .content-width {
    display: flex;
    justify-content: center;
}

#back-to-top-button {
    position: relative;
    top: -25px;
    height: 50px;
    width: 50px;
    background: #FF923E;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.125s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg)
}

#back-to-top-button:hover {
    transform: scale(1.1) rotate(-90deg);
}

#back-to-top-button svg{
    cursor: pointer;
}