#hover-icon {
    position: absolute;
    height: 55px; 
    width: 55px;
    border-radius: 50%;
    background: #FF923E;
    top: 0;
    left: 0;
    z-index: 9;
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(147, 104, 51, 0.3);
}
