#hover-icon {
    position: absolute;
    height: 55px; 
    width: 55px;
    border-radius: 50%;
    background: #105099;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
