#landing-page {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 80px 0;
    top: 0;
    position: absolute;
}

#landing-page-background {
    background: #F5EFE6;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

#landing-page-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: calc(100% - 30px);
    left: 0;
    position: relative;
}

#landing-content-svg{
    width: 550px;
    max-width: 45%;
    max-height: 80%;
    position: relative;
}

.landing-headline {
    transform-origin: left;
    font-size: 64px;
    font-weight: bold;
    fill: #091434;
}

.landing-subheading {
    font-size: 17px;
    fill: #7C8594;
    transform-origin: left;
}

#landing-page .scroll-icon {
    top: calc(100vh - 50px);
}

/**---------------------------------------------------------------Responsive-----------------------------------------------------*/
@media (max-aspect-ratio: 11/10) {
    #landing-content-svg {
        max-width: 94%;
    }

    #landing-page {
        align-items: flex-start;
        padding: 65px 0;
    }

    #landing-page-section {
        max-height: 37vh;
        justify-content: center;
        align-items: center;
    }
}

/**Adapt so smaller overlay*/
@media (max-width: 800px), (max-height: 800px) {
    #landing-page {
        padding: 65px 0;
    }
}

@media (max-width: 550px), (max-height: 550px) {
    #landing-page {
        padding: 50px 0;
    }
}
    