#landing-page {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
}

#landing-page-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: calc(100% - 30px);
    left: 0;
    position: relative;
}

#landing-content-svg{
    width: 550px;
    max-width: 45%;
    max-height: 80%;
    position: relative;
    margin-bottom: 40px;
}

.landing-headline {
    transform-origin: left;
    font-size: 64px;
    font-weight: 600;
    fill: #091434;
    letter-spacing: -0.5px;
}

.landing-subheading {
    font-size: 17px;
    fill: #7C8594;
    transform-origin: left;
}

/**---------------------------------------------------------------Responsive-----------------------------------------------------*/
@media (max-aspect-ratio: 12/10) {
    #landing-content-svg {
        max-width: 94%;
    }

    #landing-page {
        align-items: flex-start;
        padding: 65px 0;
        background-image: linear-gradient(180deg, #F5EFE6 45%, transparent 55%);
    }

    #landing-page-section {
        max-height: 40vh;
        justify-content: center;
        align-items: center;
        position: unset;
    }
}

/**Adapt so smaller overlay*/
@media (max-width: 800px), (max-height: 800px) {
    #landing-page {
        padding: 65px 0;
    }
}

@media (max-width: 550px), (max-height: 550px) {
    #landing-page {
        padding: 50px 0;
    }
}
    