@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'transition.css';
@import 'overlay.css';
@import 'landing-page.css';
@import 'scroll-container.css';
@import 'about.css';
@import 'eases.css';
@import 'work.css';
@import 'contact.css';
@import 'hover-icon.css';
@import 'menu.css';
@import 'intro.css';
@import 'quote.css';

/**---------------------------------------------------------------Main Stylings-----------------------------------------------------*/
*
{
    margin: 0;
    padding: 0;
    /* cursor:none !important; */
}

html, body {
    height: 100%;
    overflow: hidden;
}

#main-canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

body
{
    font-family: 'Poppins', sans-serif;
    color: #091434;
    position: relative;
    display: flex;
    justify-content: center;
}

.content-width {
    width: 1400px;
    max-width: calc(100% - 60px);
}

.hide {
    display: none !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.no-transition {
    transition: none !important;
}

h1 {
    font-size: 4.3rem;
    position: relative;
    left: -5px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: -0.5px;
}

h2 {
    font-size: 3.2rem;
    line-height: 70px;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

h4 {
    font-size: 1.4rem;
    font-weight: 600;
}

h5 {
    color: #FF923E;
    font-size: 1.2rem;
    font-weight: 500;
}

span {
    color: #7C8594;
    font-size: 1rem;
}

a {
    cursor: pointer !important;
    text-decoration: none;
    color: inherit;
}

hr {
    height: 2px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin: 25px 0;
    border: none;
}

.section-subheader-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-subheader-container hr {
    width: 40px;
    background-color: #FF923E;
    margin: 0; 
    margin-right: 20px;
}

/*Selection*/
::-moz-selection { /* Code for Firefox */
    color: #343352;
    background: #93683327;
}
  
::selection {
    color: #343352;
    background: #9368332a;
}
/* 
/**Big button
.big-button {
    padding: 15px 24px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: #FF923E;
    /* background: linear-gradient(to right, #105099 50%, #FF923E 50%);
    transition: 200ms;
    background-size: 200% 100%;
    background-position: right bottom;
    border: none; 
    font-family: inherit;
    margin-top: 5px;
} */

/**Small Button*/
.small-button {
    padding: 9px 36px;
    background: #FF923E;
    color: white;
    border-radius: 13px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

/****************************icons**************************/
.social-icon {
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    filter:  grayscale(1) brightness(8);
    height: 32px;
    width: 32px;
    transition: 0.125s ease-in;
}

.social-icon:hover {
    filter: unset;
    transform: scale(1.1);
}

.github-icon {
    background: url('../assets/icons/github-icon.png');
}

.linkedin-icon {
    background: url('../assets/icons/linkedin-icon.png');
}

.mail-icon {
    background: url('../assets/icons/mail-icon.png');
}

/****************************sections**************************/
section {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.content-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------------------ Responsive -----------------------------*/
@media (max-aspect-ratio: 12/10) {
    .content-width {
        max-width: calc(100% - 30px);
    }
}

@media(max-width: 800px), (max-height: 800px) {
    h2 {
        font-size: 2.6rem;
    }
}