@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'transition.css';
@import 'overlay.css';
@import 'landing-page.css';
@import 'scroll-container.css';
@import 'about.css';
@import 'eases.css';
@import 'work.css';
@import 'contact.css';
@import 'footer.css';
@import 'hover-icon.css';
@import 'menu.css';

/**---------------------------------------------------------------Main Stylings-----------------------------------------------------*/
*
{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body
{
    font-family: 'Poppins', sans-serif;
    color: #111029;
    position: relative;
}

.hide {
    display: none !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.no-transition {
    transition: none !important;
}

h1 {
    font-size: 4rem;
    position: relative;
    left: -5px;
    font-family: 'Poppins', sans-serif;
    line-height: 75px;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    cursor: pointer !important;
    text-decoration: none;
    color: inherit;
}

hr {
    height: 3px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin: 25px 0;
    border: none;
}

/*Selection*/
::-moz-selection { /* Code for Firefox */
    color: #343352;
    background: #93683327;
}
  
::selection {
    color: #343352;
    background: #9368332a;
}

/**Big button*/
.big-button {
    padding: 13px 37px;
    border-radius: 27px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: #FF923E;
    /* background: linear-gradient(to right, #fc9b51 50%, #FF923E 50%);
    background-size: 200% 100%;
    background-position: right bottom; */
    transition: transform 0.125s ease-out;
    border: none; 
    font-family: inherit;
}

.big-button:hover{
    /* background-position: left bottom; */
    transform: scale(1.05);
}

/**Small Button*/
.small-button {
    padding: 9px 30px;
    background: #FF923E;
    color: white;
    border-radius: 16px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

/**Social icon*/
.social-icon {
    height: 25px;
    width: 25px;
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

/****************************sections**************************/
section {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.content-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-width {
    width: calc(75% - 30px);
}

/****************************experience**************************/
#main-canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    bottom: 0;
    transition: background-color 300ms ease-in;
}