#menu-container {
    position: absolute;
    right: calc(-350px - 10vw);
    width: calc(350px + 10vw);
    height: 100%;
    background: white;
    z-index: 2;
    max-width: 45vw;
    box-sizing: border-box;
    padding: 50px 50px 70px 50px;
}

#menu-content-container {
    position: relative;
    height: 100%;
    width: 240px;
}

#menu-items-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-items-column-container {
    width: 100%;
}

.menu-item {
    border-radius: 15px;
    margin: 15px 0;
    font-weight: 600;
    font-size: 1.6rem;
    width: fit-content;
}

.active-menu-item {
    position: relative; 
}

.active-menu-item {
    cursor: unset !important;
    transform: translateX(38px);
}

.active-menu-item::after {
    position: absolute;
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    content: '>';
    font-size: 20px;
    color: white;
    background: #FF923E;
    left: -10px;
    top: 50%;
    transform: translate(-28px, -50%);
}

#menu-container .social-icon {
    margin-right: 15px;
}

/**Legal container*/
#legal-container a {
    font-size: 0.8rem;
    color: gray;
}

#legal-container :first-child{
    margin-right: 20px;
}

#legal-container a:hover {
    text-decoration: underline;
}

@media (max-aspect-ratio: 11/10) {
    #menu-container {
        right: -100%;
        width: 100% !important;
        max-width: unset;
        align-items: center;
    }

    .menu-items-column-container {
        align-items: center;
    }

    #menu-social-container {
        justify-content: center;
    }

    #legal-container {
        justify-content: center;
    }

    .active-menu-item::after {
        position: absolute;
        height: 3px;
        margin: 0 auto;
        content: '';
        background: #FF923E;
        width: 100%;
        bottom: -2px;
        left: 0;
        transform: translateY(16px);
    }

    .active-menu-item {
        transform: unset;
    }
}

/**Decrease Menu in height*/
@media(max-height: 600px) {
    .menu-item {
        font-size: 1.3rem;
        margin: 10px 0;
    }

    #menu-container .social-icon {
        height: 24px;
        width:  24px;
    }

    #menu-container hr {
        margin: 15px 0;
    }

    #legal-container a {
        font-size: 12px;
    }

    .menu-items-column-container {
        justify-content: center;
    }
}

@media(max-height: 450px) {
    #menu-items-container {
        flex-direction: row;
    }

    #menu-container {
        padding: 30px 30px 45px 30px;
    }
}
