/****************************Overlay**************************/
#overlay-container {
    position: absolute;
    height: calc(100vh - 30px);
    padding: 15px 0;
    margin: 0 auto;
    right: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
}

#header-container {
    position: absolute;
    top: 0;
    width: 100%;
    transition: 250ms;
    padding-top: 15px;
}

/*Header Logo*/
#header-logo-svg {
    position: absolute;
    transform-origin: center center;
}

#logo-dark-background {
    background: #091434;
    position: absolute;
    width: 100%;
    height: 100vh;
    clip-path: url(#logo-clip-path); 
}

#logo-white-background {
    background: white;
    position: absolute;
    top: calc(100vh - 15px);
    width: 100%;
}

.overlay-button {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 15px;
    pointer-events: auto;
    cursor: pointer;
    transition: transform 500ms cubic-bezier(0.175, 1, 0.320, 1.5);
}

.overlay-button:hover {
    transform: scale(1.07);
}

/**Sound button*/
#sound-button {
    right: 62px;
    background: #a7adb8;
}

#header-sound-svg {
    height: 48px;
    width: 48px;
    transform: translateX(12px) scale(1.2);
}

#sound-button-scale-container {
    transform-origin: top right;
}

/**Menu Button*/
#menu-button {
    right: 0;
    background: #FF923E;
}

.menu-button-bar {
    width: 26px;
    height: 4px;
    background: white;
    margin: 2.5px;
    border-radius: 2px;
}

#menu-button-scale-container {
    transform-origin: top right;
}

/**Scroll Icon*/
.scroll-icon {
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 25px;
    margin: 0 auto;
    transform-origin: bottom center;
    height: 30px;
    width: 30px;
}

/*------------------------------------------ Responsive -----------------------------*/
@media (max-aspect-ratio: 12/10) {
    
}

/**Scale down buttons*/
@media (max-width: 800px), (max-height: 800px) {
    #logo-clip-path{
        transform: scale(0.8);
    }

    #scroll-icon, #menu-button-scale-container, #sound-button-scale-container, #landing-scroll-icon {
        transform: scale(0.9);
    }

    #sound-button {
        right: 64px;
    }
}

@media (max-width: 550px), (max-height: 550px) {
    #logo-clip-path{
        transform: scale(0.72);
    }

    #scroll-icon, #menu-button-scale-container, #sound-button-scale-container, #landing-scroll-icon {
        transform: scale(0.8);
    }

    #sound-button {
        right: 60px;
    }
}