/****************************Overlay**************************/
#overlay-container {
    position: absolute;
    height: calc(100vh - 30px);
    padding: 15px 0;
    margin: 0 auto;
    right: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
}

#header-container {
    top: 0;
    transition: 250ms;
}

/*Header Logo*/
#header-logo-svg {
    position: absolute;
    transform-origin: center center;
}

#logo-dark-background {
    background: #091434;
    position: absolute;
    width: 100%;
    height: 100vh;
    clip-path: url(#logo-clip-path); 
}

#logo-white-background {
    background: white;
    position: absolute;
    top: calc(100vh - 15px);
    width: 110%;
    left: -5%;
    transform: rotate(1deg);
}

.overlay-button {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 15px;
    pointer-events: auto;
    cursor: pointer;
    transition: transform 0.125s ease-out;
}

.overlay-button:hover {
    transform: scale(1.1);
}

/**Sound button*/
#sound-button {
    right: 62px;
    transition: 125ms;
    background: #a7adb8;
}

#header-sound-svg {
    height: 50px;
    width: 50px;
    transform: translateX(12px) scale(1.2);
}

#sound-button-scale-container {
    transform-origin: top right;
}

/**Menu Button*/
#menu-button {
    right: 0;
    background: #FF923E;
}

.menu-button-bar {
    width: 26px;
    height: 4px;
    background: white;
    margin: 2.5px;
    border-radius: 2px;
}

#menu-button-scale-container {
    transform-origin: top right;
    transform: scale(0.95);
}

/**Landing Scroll Icon*/
#landing-scroll-icon {
    width: 18px;
    height: 31px;
    border-radius: 15px;
    border: 3px solid #091434;
    position: absolute;
    left: 0; 
    right: 0; 
    margin: 0 auto;
    bottom: 15px;
    display: flex;
    justify-content: center;
    transform-origin: bottom center;
}

#landing-scroll-wheel {
    width: 4px;
    height: 10px;
    background: #091434;
    border-radius: 2px;
    margin-top: 3px;
}

/*------------------------------------------ Responsive -----------------------------*/
@media (max-aspect-ratio: 11/10) {
    
}

/**Scale down buttons*/
@media (max-width: 800px), (max-height: 800px) {
    #logo-clip-path{
        transform: scale(0.8);
    }

    #scroll-icon, #menu-button-scale-container, #sound-button-scale-container, #landing-scroll-icon {
        transform: scale(0.9);
    }

    #sound-button {
        right: 64px;
    }
}

@media (max-width: 550px), (max-height: 550px) {
    #logo-clip-path{
        transform: scale(0.72);
    }

    #scroll-icon, #menu-button-scale-container, #sound-button-scale-container, #landing-scroll-icon {
        transform: scale(0.8);
    }

    #sound-button {
        right: 60px;
    }
}