#scroll-container {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.scroll-container-transitions {
    transition: left .9s cubic-bezier(0.645, 0.045, 0.355, 1.000), top 700ms cubic-bezier(.6,0,.4,1)
}

#scroll-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 500px;
    background: #FF923E;
    background: #00b7ff;
    border-radius: 5px;
    z-index: 2;
    display: none;
}