#transition-container {
    position: absolute;
    z-index: 998;
    width:200vw;
    bottom: -40%;
    transform: rotate(15deg);
    left: -40%;
}

#transition-wave-svg{
    transform: translateY(20px);
}

.hideTransition {
    animation: hideTransition cubic-bezier(0.550, 0.055, 0.675, 0.190) .8s;
    animation-fill-mode: forwards; 
}

@keyframes hideTransition {
    0% {bottom: -40%; left: -40%; }
    100% {bottom: -200%; left: -60%; }
}

.showTransition {
    animation: showTransition cubic-bezier(0.550, 0.055, 0.675, 0.190) .8s;
    animation-fill-mode: forwards; 
}

@keyframes showTransition {
    0% {bottom: -200%; left: -60%; }
    100% {bottom: -40%; left: -40%; }
}

#transition-push {
    height: 150vh;
    background: #FF923E;
}

/**----------------------------------- LOGO --------------------------------*/
#loadig-animation-container {
    height: 130px;
    width: 130px;
    position: relative;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#loading-mask-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    mask-image: url('../assets/logo-mask.png');
    -webkit-mask-image: url('../assets/logo-mask.png');
    mask-size: 100%;
    -webkit-mask-size: 100%;  
    width: 100%;
    height: 130px;
}

#loading-animation {
    background: white;
    transition: 0.5s;
    width: 100%;
}

#loading-logo-outline {
    height: 130px;
    width: 130px;
    position: absolute;
    top: 0;
}