#transition-container {
    position: absolute;
    z-index: 998;
    width: 200vw;
    bottom: -100%;
    transform: rotate(15deg);
    left: -40%;
    pointer-events: none;
}

#transition-wave-svg{
    transform: translateY(20px);
}

#transition-wave-svg-bottom {
    transform: rotate(180deg) translateY(20px);
}

.hideIntroTransition {
    animation: hideIntroTransition ease-in .8s;
    animation-fill-mode: forwards; 
}

@keyframes hideIntroTransition {
    0% { bottom: -100%; left: -40%; }
    100% { bottom: -350%; left: -60%; }
}

.hideTopTransition {
    animation: hideTopTransition ease-in .7s;
    animation-fill-mode: forwards; 
}

@keyframes hideTopTransition {
    0% { bottom: -100%; left: -40%; }
    100% { bottom: 100%; left: 40%; }
}

.showTransition {
    animation: showTransition ease-in .7s;
    animation-fill-mode: forwards; 
}

@keyframes showTransition {
    0% { bottom: -300%; left: -60%; }
    100% { bottom: -100%; left: -40%;}
}

#transition-push {
    height: 170vh;
    background: #FF923E;
}

/**---------------------------------------------------------------Responsive-----------------------------------------------------*/
@media (max-aspect-ratio: 11/10) {
    #transition-container {
        transform: translate(0, -20%) scale(1.2);
    }  
}