#transition-container {
    position: absolute;
    z-index: 998;
    width: 200vw;
    bottom: -100%;
    transform: rotate(15deg);
    left: -40%;
}

#transition-wave-svg{
    transform: translateY(20px);
}

#transition-wave-svg-bottom {
    transform: rotate(180deg) translateY(20px);
}

.hideIntroTransition {
    animation: hideIntroTransition ease-in .8s;
    animation-fill-mode: forwards; 
}

@keyframes hideIntroTransition {
    0% { bottom: -100%; left: -40%; }
    100% { bottom: -300%; left: -60%; }
}

.hideTopTransition {
    animation: hideTopTransition ease-in .7s;
    animation-fill-mode: forwards; 
}

@keyframes hideTopTransition {
    0% { bottom: -100%; left: -40%; }
    100% { bottom: 100%; left: 40%; }
}

.showTransition {
    animation: showTransition ease-in .7s;
    animation-fill-mode: forwards; 
}

@keyframes showTransition {
    0% { bottom: -300%; left: -60%; }
    100% { bottom: -100%; left: -40%;}
}

#transition-push {
    height: 170vh;
    background: #FF923E;
}

/**----------------------------------- LOGO --------------------------------*/
#loadig-animation-container {
    height: 130px;
    width: 130px;
    position: relative;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#loading-mask-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    mask-image: url('../assets/logo-mask.png');
    -webkit-mask-image: url('../assets/logo-mask.png');
    mask-size: 100%;
    -webkit-mask-size: 100%;  
    width: 100%;
    height: 130px;
}

#loading-animation {
    background: white;
    transition: 0.5s;
    width: 100%;
}

#loading-logo-outline {
    height: 130px;
    width: 130px;
    position: absolute;
    top: 0;
}