#work-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin-top: 12vh;
}

#work-content{
    position: relative;
    padding: 90px 0;
    box-sizing: border-box;
    margin-top: 20px;
    justify-content: flex-start;
}

#work-background {
    box-shadow: 0px 30px 70px #93683310;
    background: #F5EFE6;
    width: 300%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#work-render-container {
    position: relative;
    width: 350px;
    height: 570px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#work-image-handler {
    height: 100%;
}

#work-image {
    position: absolute;
    height: 350px;
    transform: translateY(-250px);
    top: 0;
    left: 0;
}

/**Info*/
#work-section h2 {
    /* margin-top: 20px;
    margin-bottom: 70px; */
    margin-bottom: 40px;
}

#work-info-container {
    max-width: 360px;
    margin-right: 140px;
    position: relative;
    top: -50px;
}

/**Cards*/
.work-item-container {
    background: white;
    height: 100%;
    position: absolute;
    transition: transform 400ms ease-in-out, opacity 400ms ease-in-out, filter 400ms ease-in-out, height 400ms ease-in-out, border-color 100ms;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 30px 70px #93683325;
    width: 100%;
    overflow: hidden;
}

.work-inactive-item-container {
    opacity: 0.5; 
    filter: grayscale(50%);
    cursor: pointer;
    /* height: 403px; */
}

.work-inactive-item-container * {
    cursor: unset !important;
}

.work-inactive-item-container:hover {
    border: 2px solid #7C8594;
}

.work-item-image {
    width: calc(100% - 16px);
    margin: 8px;
    margin-bottom: 5px;
    object-fit: cover;
    min-height: 300px;
    border-radius: 13px;
}

.work-item-content-container {
    padding: 8px 16px;
    box-sizing: border-box;
    padding-top: 8px;
    flex: 1;
}

.work-item-tag-container {
    margin: 10px 0;
    margin-bottom: 15px;
    max-width: 100%;
    flex-wrap: wrap;
}

.work-item-tag {
    font-size: .7rem;
    padding: 3px 8px;
    margin-right: 5px;
    color: white;
    border-radius: 8px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.work-item-button-container {
    margin: 8px;
}

.work-item-orange-button {
    width: 100%;
    padding: 9px !important; 
}

.work-item-gray-button {
    padding: 8px 14px;
    color: white;
    background: #a7adb8;
    border-radius: 13px;
    margin-right: 8px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.work-item-gray-button .code-icon {
    fill: white;
    height: 28px;
    width: 28px;
}

/**---------------------------------------------------------------Navigation-----------------------------------------------------*/
#work-navigation-container {
    margin-top: 40px;
}

.work-navigation-button {
    height: 54px;
    width: 54px;
    background: #FF923E;
    border-radius: 50%;
    margin: 15px;
    margin-bottom: 0;
    cursor: pointer;
    box-shadow: 0px 30px 70px #93683325;
    transition: 0.125s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-navigation-button:hover {
    transform: scale(1.1);
}

.work-disabled-navigation-button {
    background: #a7adb8;
    cursor: unset !important;
}

.work-disabled-navigation-button:hover {
    transform: unset !important;
}

/**---------------------------------------------------------------Responsive-----------------------------------------------------*/
@media (max-aspect-ratio: 12/10) {
    #work-section {
        margin-top: 3vh;
    }
}

@media (max-width: 480px) {
    .work-inactive-item-container  {
        opacity: 0;
    }
}